.background{
    background-color: #0016FF;
    border-radius: 0 0 30px 30px;
}
.nomeCursoD{
    color: white;
    text-align: center;
}

.img-fluid{
    max-width: auto;
}



.imagemCurso{
    width: 200px;
    height: 200px;
} 

.text-center{
    padding-bottom: 5px;
}

@media  screen and (min-width: 500px) {

    .imagemCurso{
        width: 250px;
        height: 250px;
    } 
}

@media  screen and (min-width: 600px) {

     .imagemCurso{
        width: 300px;
        height: 300px;
    } 
}

@media  screen and (min-width: 850px) {

     .imagemCurso{
        width: 350px;
        height: 350px;
    }   
}

@media  screen and (min-width: 900px) {

   .imagemCurso{
        width: 400px;
        height: 400px;
    }  
}